/* --- ESTILO NORDIC FLOTANTE --- */

* {
    border: none;
    border-radius: 1px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent; /* Fondo transparente para efecto flotante */
    transition-property: background-color;
    transition-duration: .5s;
    color: #d8dee9;
}

/* Las "Cápsulas" (Izquierda, Centro, Derecha) */
.modules-left, .modules-center, .modules-right {
    background: #2e3440;  /* Gris oscuro Nordic */
    border: 2px solid #4c566a;
    border-radius: 15px;  /* Bordes muy redondos */
    margin-top: 5px;      /* Separación del techo */
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

/* Escritorios (Workspaces) */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #d8dee9;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #434c5e;
}

#workspaces button.active {
    color: #88c0d0; /* Azul Celeste Nordic */
    background: #4c566a;
}

#workspaces button.urgent {
    color: #bf616a; /* Rojo alerta */
}

/* Módulos individuales (Reloj, Batería, etc.) */
#clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor, #mpd {
    padding: 0 10px;
    color: #eceff4;
    border-radius: 10px;
    margin: 0 2px;
}

/* Colores específicos para dar vida */
#clock {
    color: #88c0d0;
    font-weight: bold;
}

#battery {
    color: #a3be8c; /* Verde */
}

#battery.charging, #battery.plugged {
    color: #ebcb8b; /* Amarillo */
}

#battery.critical:not(.charging) {
    color: #bf616a; /* Rojo */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #b48ead; /* Morado */
}

#pulseaudio {
    color: #81a1c1; /* Azul */
}

#pulseaudio.muted {
    color: #4c566a; /* Gris apagado */
}

/* Animación de parpadeo para batería baja */
@keyframes blink {
    to {
        background-color: #bf616a;
        color: #2e3440;
    }
}
